@import "../../../../../../App.scss";
.arrival {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 30px;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0 20px;
    }
  }
  &__banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      margin-top: 50px;
      flex-wrap: wrap;
    }
    &__item {
      cursor: pointer;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      &:first-child {
        margin-right: 40px;
        @media screen and (max-width: 767px) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
