@import "../../../../../../App.scss";
.product-detail {
  &__tabs {
    &__content {
      &__shipping {
        &__title {
          font-size: 18px;
          font-weight: 500;
          color: $color-darker;
          border-bottom: 1px solid rgba($color-dark-light, 0.2);
          max-width: 300px;
          padding-bottom: 15px;
          @media screen and (max-width: 767px) {
            width: 100%;
            font-size: 16px;
          }
        }
        &__desc {
          margin-top: 30px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.8;
          @media screen and (max-width: 767px) {
            font-size: 14px;
            margin-top: 20px;
          }
        }
        &__list {
          margin-top: 40px;
          list-style: disc;
          margin-left: 20px;
          @media screen and (max-width: 767px) {
            margin-top: 25px;
          }
        }
        &__item {
          font-size: 16px;
          font-weight: 400;
          color: $color-dark-light;
          &:not(:first-child) {
            margin-top: 30px;
            @media screen and (max-width: 767px) {
              margin-top: 20px;
            }
          }
          @media screen and (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
