@import "../../../../../App.scss";
.delete-success {
  height: 100%;
  position: fixed;
  background: rgba($color-white-dank, 0.5);
  inset: 0;
  z-index: 99999;
  &__container {
    background-color: $color-white;
    position: absolute;
    width: 60%;
    top: 5%;
    @media screen and (max-width: 1023px) {
      width: 80%;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }
    left: 50%;
    transform: translateX(-50%);
  }
  &__info {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    &__heading {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba($color-dark-light, 0.2);
      padding-bottom: 20px;
      @media screen and (max-width: 767px) {
        margin-top: 15px;
        padding-bottom: 15px;
      }
      &__title {
        font-size: 20px;
        font-weight: 500;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
      &__btn {
        border: 0;
        outline: none;
        display: block;
        background-color: transparent;
        font-size: 20px;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          color: $color-red;
        }
      }
    }
    &__check {
      margin: 20px auto;
      text-align: center;
    }
    &__icon {
      color: $color-green;
    }
    &__message {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    &__desc {
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      border-bottom: 1px solid rgba($color-dark-light, 0.2);
      padding-bottom: 20px;
      margin-bottom: 60px;
      @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 40px;
      }
    }
  }
}
